<div class="row">
    <div class="col-12 col-md-2">
        <div class="border py-2">
            <h2 style="color: red">Players</h2>
            <ul><a href="{{ path('user_index_singles' ) }}">Singles</a></ul>
            <ul><a href="{{ path('user_index_doubles' ) }}">Doubles</a></ul>
            <ul><a href="{{ path('user_index-doubles_unmatched' ) }}">Doubles (unmatched)</a></ul>
        </div>
    </div>

</div>
